{% extends 'base.html' %}
{% load static %}
{% block title %}География{% endblock %}
{% block main_content %}
    <div class="page">
        <div class="page-title mb-4">
            <p>Статистика по городам</p>
        </div>
        <div class="page-description mb-5">
            <p>Ниже представлены графики и таблицы для статистик 'Средняя зарплата по городам' и 'Доля вакансий по городам' по всем вакансиям и по профессии UX/UI дизайнер.</p>
        </div>
        <hr class="hr hr-blurry" />
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    <div>
                        <img src='{{ page.chart_first.url }}' alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-4">
                    <table class="table table-bordered table-hover" id="wrap-table">
                        <thead>
                            <tr class="table-head">
                                <th>Город</th>
                                <th>Средняя зарплата (руб)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data_first %}
                                <tr>
                                    <td class="g-cell">{{ i.area_name}}</td>
                                    <td class="g-cell">{{ i.salary_rur }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    <img src='{{ page.chart_second.url }}' alt="" class="img-fluid">
                </div>
                <div class="col-4">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="table-head">
                                <th>Город</th>
                                <th>Доля вакансий (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data_second %}
                                <tr>
                                    <td class="g-cell">{{ i.area_name}}</td>
                                    <td class="g-cell">{{ i.percent }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    <img src='{{ page.chart_third.url }}' alt="" class="img-fluid">
                </div>
                <div class="col-4">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="table-head">
                                <th>Город</th>
                                <th>Средняя зарплата (рубли)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data_third %}
                                <tr>
                                    <td class="g-cell">{{ i.area_name}}</td>
                                    <td class="g-cell">{{ i.salary_rur }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    <img src='{{ page.chart_fourth.url }}' alt="" class="img-fluid">
                </div>
                <div class="col-4">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="table-head">
                                <th>Город</th>
                                <th>Доля вакансий (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data_fourth %}
                                <tr>
                                    <td class="g-cell">{{ i.area_name}}</td>
                                    <td class="g-cell">{{ i.percent }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}